:root {
    --pku-red: rgba(139, 0, 22, var(--opacity));
    --pku-light: rgba(154, 1, 0, var(--opacity));
    --pku-dark: rgba(82, 0, 12, var(--opacity));
    --shade: rgba(0, 0, 0, 0.5);
    --header-height: 20vh;
    --footer-height: 20vh;
    --white: rgba(255, 255, 255, var(--opacity));
    --black: rgba(20, 20, 20, var(--opacity));
    --opacity: 1;
    --ratio: calc(4 / 3);
    font-size: 3vh;
    overflow: hidden;
    font-family: "Segoe Print", "Century Schoolbook", "Times New Roman", Georgia, "Microsoft YaHei", SimSun, Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

input {
    visibility: hidden;
    outline: 0;
    --color: var(--pku-red);
    background-color: var(--white);
}

.disable-select {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input:hover {
    background-color: #fff4d4a6;
}

input:focus {
    background-color: #ffdc7aa6;
}

input::placeholder {
    color: var(--color);
    --opacity: 0.5;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.center {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: middle;
}

.transition {
    --timing: cubic-bezier(.17, .84, .44, 1);
    --time: 0.3s;
    --attribute: all;
    transition: var(--attribute) var(--time) var(--timing)
}

#main {
    position: absolute;
    display: block;
    top: 0;
    margin: 0;
    width: 100%;
    min-width: calc(--ratio * 100vh);
    left: 0;
    background-blend-mode: lighten;
    --bgcolor: var(var(--white));
    --opacity: 0.7;
    --bgimg: url(../images/circuit-board.svg);
    --bgsize: 50vw;
    background-color: var(--bgcolor);
    background-image: var(--bgimg);
    background-size: var(--bgsize);
}

.shadow {
    --shadow-opacity: 0.2;
    --shadow: rgba(0, 0, 0, var(--shadow-opacity));
    --shadow-blur: 3px;
    box-shadow: 0 0 var(--shadow-blur) 3px var(--shadow);
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: inherit;
    background-position: inherit;
    background-size: inherit;
    background-color: inherit;
    background-image: var(--bgimg) var(--bgimage);
}

#header {
    top: 0;
    height: var(--header-height);
    position: relative;
    display: flex;
    flex-direction: row;
}

#content {
    width: auto;
    height: auto;
    min-height: calc(100vh - var(--foot-height) - var(--head-height));
}

#title {
    font-size: calc(var(--header-height) - 3px);
    padding-right: .2em;
}

#banner {
    font-size: 1em;
}

.menuitem {
    padding-right: .1em;
    padding-left: .1em;
    position: relative;
}

.menuitem svg {
    height: 100%;
    width: auto;
    max-width: var(--head-height);
    fill: white;
}

.menuitem:hover {
    background-color: var(--shade);
}

.submenu {
    transform: translateY(calc(0 - var(--header-height)));
    opacity: 0;
    transition-delay: 3s;
}

.menuitem:hover .submenu {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0;
}

#footer {
    display: block;
    padding: .1em;
    font-size: .7em;
    position: relative;
    background-color: var(--bgcolor);
    bottom: 0;
    min-height: var(--footer-height);
    z-index: 0;
}

.link-item:hover {
    filter: brightness(5);
}

.list {
    --bgcolor: rgba(0, 0, 40, .5);
    background-color: var(--bgcolor);
    position: relative;
}

.list-menu {
    background-color: inherit;
}

.list-filter>input[type=text] {
    border: 3px solid;
    --height: 1.5em;
    height: var(--height);
    font-size: 1em;
    min-width: 4em;
    width: max-content;
    overflow: hidden;
    border-color: var(--color);
}

.list-filter>button {
    position: absolute;
    right: 0;
    top: 0;
    height: var(--height);
    width: var(--height);
    background-color: var(--color);
}

.list-header {
    position: sticky;
    top: 0;
    --opacity: .4;
    background-color: var(--light)
}


.container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 50%;
}


.left {
    left: 0;
    top: 0;
}


.right {
    right: 0;
}


#reader {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    overflow-y: auto;
}

.line {
    transition: all 0.2s ease-in;
    background: rgb(227 227 227 / 40%);
    padding: 0.1em;
    margin: 0;
    font-size: 1vw;
    font-family: "华文中宋", "Microsoft YaHei", Georgia, 'Times New Roman', SimSun, Arial;
}

.trans {
    transition: all 0.3s ease-out;
}

orig.line:before {
    content: attr(data-index) " ";
}


.line:hover {
    background-color: rgb(253 255 134 / 63%);
}


#reader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#reader.single {
    display: flex !important;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    width: 60%;
}

#reaeder.double {
    display: grid !important;
}

orig,
trans {
    margin: 0;
}

orig {
    grid-column: 1 / 2;
}

trans {
    grid-column: 2 / 3;
}

audio {
    visibility: invisible;
}

orig.sound {
    box-shadow: rgb(53 53 53 / 91%) 0px 0px 3px;
}

.line span {
    background-color: #ff6b6b29;
}

#spinectn {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

#spinectn>div {
    align-self: center;
}

video.mp4 {
    --w: 100vh;
    width: var(--w);
    bottom: calc(var(--w) * -0.19);
    aspect-ratio: 1;
    float: right;
    right: 0;
    height: auto;
    position: absolute;
    display: block;
    mix-blend-mode: multiply;
}

video.maintheme {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    right: 0;
    top: 0;
    height: auto;
    position: absolute;
    display: block;
}


.backgroundimg,
.backgroundvideo {
    position: absolute;
    background-size: cover;
    min-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    align-self: center;
    left: 0;
    top: 0;
}


.openingctn {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: black;
    transform-style: preserve-3d;
    text-align: center;
}

.opening {
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center center;
    transform: scale3d(1, 1, 1);
    --w: 50%;
    width: var(--w);
    height: var(--w);
    position: absolute;
    left: calc(50% - var(--w) / 2);
    top: calc(50% - var(--w) / 2);
}


.logo {
    height: 26%;
    top: 6%;
    left: 7%;
    position: absolute;
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#soundicon {
    width: 5%;
    height: 5%;
    color: black;
    fill: currentColor;
    overflow: hidden;
    color: black;
    right: 1%;
    top: 1%;
    position: absolute;
    display: block;
}

#soundicon:hover {
    transform: scale(1.2);
}

#soundicon.disabled {
    color: rgba(0, 0, 0, 0.445);
    box-shadow: black 0px 0px 4px;
}

.menubutton {
    background-image: url("images/button.png");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 4;
    vertical-align: middle;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
    background-blend-mode: darken;
    background-size: contain;
}

.menu {
    display: flex;
    position: absolute;
    left: 8%;
    top: 32%;
    min-width: 5em;
    min-height: 2em;
    width: 20%;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.menubutton p {
    background: none;
    width: 100%;
    height: 1em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    align-self: center;
    transition: all 0.3s ease-out;
}

.menubutton:hover {
    filter: brightness(1.1);
}

#intro {
    z-index: 999;
    display: block;
    left: 20%;
    width: 80%;
    top: 10%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.164);
    pointer-events: none;
}

#intro p {
    line-height: 1.2em;
    padding: 0;
    margin: 0;
}